.banner-screen {
  background: no-repeat center right fixed url('/images/background.jpg');
  background-size: cover;
  height: 100vh;

}

.banner-screen .overlay {
  background-color: $dark-grey;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  opacity: 0.6;
  filter: alpha(opacity=50);
  z-index: 2;
  height: 100vh;
}
hr {
  border: 2px solid $purple;
  // border-color: $purple;
}
.banner-screen .container-x {
  position: relative;
  z-index: 4;
  text-align: center;
  top: 35%;
}
h1 {
  font-size: $xl-size;
}
.container-x {
  color: $light-grey;
  font-size: $l-size;
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 5rem;
  }
  .container-x{
    font-size: 3rem;
  }
}