.banner-screen {
  background: no-repeat center center fixed url("/images/background.jpg");
  background-size: cover;
  background-position-y: -123px;
  height: 100vh;
}

.banner-screen .overlay {
  background-color: #1b1b1b;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  opacity: 0.6;
  filter: alpha(opacity=50);
  z-index: 2;
  height: 100vh;
}
hr {
  border: 3px solid $purple;
  // border-color: $purple;
}
.banner-screen .container-x {
  position: relative;
  z-index: 4;
  text-align: center;
  top: 35%;
}
h1 {
  font-size: $xl-size;
}
.container-x {
  color: $light-grey;
  font-size: $l-size;
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 4.5rem;
  }
  .container-x {
    font-size: 2.4rem;
  }
}

@media screen and (max-width: 1250px) {
  .banner-screen {
    background-position-y: 0px;
  }
}
