form {
  display: block;
  margin-top: 0em;
}
.form-group {
  margin-bottom: 1rem;
}
label {
  display: inline-block;
  margin-bottom: 0.5rem;
}
.form-control {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.contact-form {
  position: relative;
  padding: 3em 1em 4em;
  margin: 0 auto;
  max-width: 1000px;

}
.contact {
  background-color: $dark-grey;
  color: $light-grey;
}
textarea.form-control {
  height: auto;
  font-size: 1.5rem;
}
.btn {
  display: inline-block;
  font-family: 'Montserrat', Arial, sans-serif;
  vertical-align: middle;
  line-height: 1.5;
  margin: 0;
  font-size: 1.6rem;
}