.portfolio {
  background: $dark-grey;
  color: $light-grey;
  padding: 40px 0px;
  text-align: center;
}
p {
  margin: 0;
}
h2 {
  margin-bottom: 20px;
}
h3.heading {
  margin-bottom: 44px;
}
.slide-content {
  h3 {
    text-align: center;
  }
  img {
    margin: 20px auto;
  }
  p {
    width: 420px;
    margin: 0 auto;
    position: relative;
    text-align: center;
  }
}
.darken-text {
  color: lighten($purple, 13%);
}
// @media (min-width: 576px) {
//   .slide-content p {
//       max-width: 540px;
//     }
//   }

//   @media (min-width: 768px) {
//     .slide-content p{
//         max-width: 720px;
//     }
//   }
@media (max-width: 1700px) {
  .slide-content p {
    width: 360px;
  }
  .slide-content img {
    height: 65px;
  }
}

@media (max-width: 1024px) {
  .slide-content p {
    width: 300px;
  }
  .slide-content img {
    height: 50px;
  }
}
