
@media (min-width: 576px) {
  .container-1, .container-2 {
      max-width: 540px;
    }
  }

  @media (min-width: 768px) {
    .container-1, .container-2 {
        max-width: 720px;
    }
  }


  @media (min-width: 992px) {
    .contact-details {
      margin:10px 10px 30px 10px;
    }
    .container-1, .container-2 {
        max-width: 960px;
      }
    }


  @media (min-width: 1200px) {
    .container-1, .container-2 {
      max-width: 1140px;
    }
  }
.about-me{
  background-color: $grey;
}
.about-experience {
  background-color: $dark-grey;
}
.container-1 {
  margin: 0 auto;
  padding: 0px;
}
.container-2 {
  margin: 0 auto;
  padding: 0px;
}

.profile {
  color: $light-grey;
  padding: 45px 0;
  overflow:hidden;
  margin: 0 auto;
}

.profile div {
   min-height: 75px;
}
.personal-blurb {
  float:left;
  margin-right:20px;
}
.contact-details {
  overflow:hidden;
  margin:65px 10px 30px 10px;
  border-left: 1px solid $light-grey;
  min-height:170px;
}
.contact-details > ul {
  padding-left: 15px;
  margin: 0px 0px 10px 0px;
}
// @media screen and (max-width: 1340px) {
//   .profile {
//     width: auto;
//     padding-top: 30px;
//   }
//   .personal-blurb {
//     float: none;
//     margin-right:0;
//     width:auto;
//     border:0;
//   }
//   .contact-details {
//     margin-left: 20px;
//   }
//   .contact-details > ul {
//     padding-left: 0px;
//   }
// }
.experience {
  // height: 600px;
  margin: 0 auto;
  color: $light-grey;
  padding: 45px 0px;
}
.p-sub-title {
  font-weight: bold;
}

ul {
  list-style: none;
}

.title {
  float:left;
  display: block;
}
.right-list {
  float:left;
  li {
    margin-bottom: 20px;
  }
  h4 {
    text-transform: uppercase;
    font-size: $m-size;
    margin: 0px 0px 10px 0px;
  }
  p {
    margin: 0;
  }
  p > span {
    font-style: italic;
  }
}


