.skills {
  background: $light-grey;
  color: $dark-grey;
  padding: 40px 0px;
}
p {
  margin: 0;
}
.title-space {
  margin-bottom: 45px;
}
.skill-item {
  font-size: 16px;
  padding-left: 0;
  transition: padding-left 0.75s;
  &:hover {
    transition: padding-left 0.25s;
    padding-left: 20px;
    cursor: default;
  }
  &::before {
    content: "▹";
    position: absolute;
    color: $purple;
    left: 0px;
  }
}
.progress {
  display: -ms-flexbox;
  display: flex;
  height: 3rem;
  overflow: hidden;
  font-size: 0.75rem;
  background-color: #e9ecef;
  border-radius: 0.25rem;
  margin: 25px 50px 0px;
}
.progress-bar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: $purple;
  transition: width 0.6s ease;
}
@media only screen and (max-width: 575px) {
  .mobile-center {
    text-align: center;
  }
}
