.skills {
  background: $dark-grey;
  color: $light-grey;
  padding: 40px 0px;
  text-align:center;
}
.skills2 {
  background: $grey;
  color: $light-grey;
  padding: 40px 0px;
  text-align:center;
}
p {
  margin: 0;
}
.slide-content p.fivetext {
  width: 390px;
  font-size: 15px;
  height: 140px;
}
h2 {
  margin-bottom: 20px;
}
.progress {
  display: -ms-flexbox;
  display: flex;
  height: 1rem;
  overflow: hidden;
  font-size: .75rem;
  background-color: #e9ecef;
  border-radius: .25rem;
  margin: 25px 100px 0px;
}
.progress-bar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: $purple;
  transition: width .6s ease;
}