.skills {
  background: $dark-grey;
  color: $light-grey;
  padding: 40px 0px;
  text-align:center;
}
.skills2 {
  background: $grey;
  color: $light-grey;
  padding: 40px 0px;
  text-align:center;
}
p {
  margin: 0;
}
.slide-content p.fivetext {
  width: 330px;
  font-size: 15px;
  height: 200px;
}
h2 {
  margin-bottom: 20px;
}
.progress {
  display: -ms-flexbox;
  display: flex;
  height: 3rem;
  overflow: hidden;
  font-size: .75rem;
  background-color: #e9ecef;
  border-radius: .25rem;
  margin: 25px 100px 0px;
}
.progress-bar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: $purple;
  transition: width .6s ease;
}
@media (max-width: 1700px) {
  .slide-content p.fivetext {
    width: 300px;
    height: 235px;
  }
  // .slide-content img {
  //   height: 65px;
  // }
}

  @media (max-width: 1024px) {
    .slide-content p.fivetext{
        width: 280px;
        height: 265px;
      }
    // .slide-content img {
    //   height: 50px;
    // }
    }
